.btn-green {
    background-color: $green-color;
    padding: 7px 15px;
    color: white;
    font-size: $second-font-size;
    border: none;
    border-radius: $bor-rad-20;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: darken($green-color , 10%);
    }

    a {
        color: white !important;
    }
}